doctype html
html(lang='en')
  head
    title Casino Website - Home
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    style.
      body {font-family: "Lato", sans-serif}
      .mySlides {display: none}
      .fa {
      font-size: 24px;
      }
      .tx {
      font-size: 18px;
      }
  body
    // Navbar
    .w3-top
      .w3-bar.w3-black.w3-card
        a.w3-bar-item.w3-button.w3-padding-large.w3-hide-medium.w3-hide-large.w3-right(href='javascript:void(0)' onclick='myFunction()' title='Toggle Navigation Menu')
          i.fa.fa-bars
        a.w3-bar-item.w3-button.w3-padding-large.tx(href='/') HOME
    .w3-content(style='max-width:2000px;margin-top:46px')
      // End Page Content
      // Footer
      footer.w3-container.w3-padding-64.w3-center.w3-opacity.w3-light-grey.w3-xlarge
        a(href='#')
          i.fa.fa-facebook-official.w3-hover-opacity
        a(href='#')
          i.fa.fa-instagram.w3-hover-opacity
        a(href='#')
          i.fa.fa-snapchat.w3-hover-opacity
        a(href='#')
          i.fa.fa-pinterest-p.w3-hover-opacity
        a(href='#')
          i.fa.fa-twitter.w3-hover-opacity
        a(href='#')
          i.fa.fa-linkedin.w3-hover-opacity
      script.
        function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        } else {
        x.className = x.className.replace(" w3-show", "");
        }
        }
        var modal = document.getElementById('gameModal');
        window.onclick = function(event) {
        if (event.target == modal) {
        modal.style.display = "none";
        }
        }
        var socket = io();
      script(src='/socket.io/socket.io.js')
