doctype html
html(lang='en')
  head
    title Casino Website - Home
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='style.css')
    style.
      body {
      font-family: "Lato", sans-serif
      }
      .mySlides {
      display: none
      }
      .fa {
      font-size: 24px;
      }
      .tx {
      font-size: 18px;
      }

      #ButtonSlots {
      margin-left: auto;
      margin-right: auto;
      width: 50%;
      height: 100%;
      padding: 0;
      background-color: aquamarine;
      cursor: pointer;
      user-select: none;
      border-radius: 100px;
      }

      .container {
      display: grid; 
      grid-template-columns: 1fr 1fr 1fr; 
      grid-template-rows: 0.2fr 1fr 0.2fr; 
      gap: 0px 0px; 
      grid-template-areas: 
        "SlotInfo1 SlotInfo2 SlotInfo3"
        "Slot1 Slot2 Slot3"
        "SlotButton SlotButton SlotButton"; 
      }
      .SlotInfo1 { grid-area: SlotInfo1; background-color: black; color: white;}
      .SlotInfo2 { grid-area: SlotInfo2; background-color: black; color: white;}
      .SlotInfo3 { grid-area: SlotInfo3; background-color: black; color: white;}
      #Slot1 { grid-area: Slot1; height: 20em; background: linear-gradient(90deg, rgba(222,222,222,1) 0%, rgba(236,236,236,1) 2%, rgba(255,255,255,1) 5%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 95%, rgba(236,236,236,1) 98%, rgba(222,222,222,1) 100%);}
      #Slot2 { grid-area: Slot2; height: 20em; background: linear-gradient(90deg, rgba(222,222,222,1) 0%, rgba(236,236,236,1) 2%, rgba(255,255,255,1) 5%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 95%, rgba(236,236,236,1) 98%, rgba(222,222,222,1) 100%);}
      #Slot3 { grid-area: Slot3; height: 20em; background: linear-gradient(90deg, rgba(222,222,222,1) 0%, rgba(236,236,236,1) 2%, rgba(255,255,255,1) 5%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 95%, rgba(236,236,236,1) 98%, rgba(222,222,222,1) 100%);}
      .SlotButton { grid-area: SlotButton; user-select: none; }

      a {
        text-decoration: none;
      }
  body
    // Navbar
    .w3-top
      .w3-bar.w3-black.w3-card
        a.w3-bar-item.w3-button.w3-padding-large.w3-hide-medium.w3-hide-large.w3-right(href='javascript:void(0)' onclick='myFunction()' title='Toggle Navigation Menu')
          i.fa.fa-bars
        a.w3-bar-item.w3-button.w3-padding-large.tx(href='/') HOME
    .w3-content(style='max-width:2000px;margin-top:46px')
      .w3-container.w3-content.w3-padding-64(style='max-width:800px;')
        .w3-row-padding.w3-padding-32(style='margin:0 -16px')
          .container(style='text-align: center;')
            .SlotInfo1
              h1 Slot 1
            .SlotInfo2
              h1 Slot 2
            .SlotInfo3
              h1 Slot 3
            #Slot1
              | ???
            #Slot2
              | ???
            #Slot3
              | ???
            .SlotButton
              a(href='' onclick='SetIconsgetIcons()')
                #ButtonSlots
                  h2(style='margin: 0;') Try Your Luck
        // Footer
      footer.w3-container.w3-padding-64.w3-center.w3-opacity.w3-light-grey.w3-xlarge
        a(href='#')
          i.fa.fa-facebook-official.w3-hover-opacity
        a(href='#')
          i.fa.fa-instagram.w3-hover-opacity
        a(href='#')
          i.fa.fa-snapchat.w3-hover-opacity
        a(href='#')
          i.fa.fa-pinterest-p.w3-hover-opacity
        a(href='#')
          i.fa.fa-twitter.w3-hover-opacity
        a(href='#')
          i.fa.fa-linkedin.w3-hover-opacity
      script.
        function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        } else {
        x.className = x.className.replace(" w3-show", "");
        }
        }
        var modal = document.getElementById('gameModal');
        window.onclick = function(event) {
        if (event.target == modal) {
        modal.style.display = "none";
        }
        }
        var reward = 0;
        const returnRewards = [
        1000,
        2000,
        5000,
        8000,
        10000,
        20000,
        50000
        ];
        const Icons = [
        'grape',
        'strawberry',
        'pie',
        'lemon',
        'chest',
        'bar',
        'seven'
        ];
        let selectedIcons = [];
        var slot = 0;
        var isStartUp = true;
        for(var i = 0; i<=2;i++){
        slot = Math.floor(Math.random() * (7));
        selectedIcons.push(Icons[slot]);
        }
        function Spin(){
        slot = 0;
        selectedIcons.length = 0;
        for(var i = 0; i<=2;i++){
        slot = Math.floor(Math.random() * (7));
        selectedIcons.push(Icons[slot])
        }
        return returnRewards[slot];
        }
        function getIcons() {
        return selectedIcons;
        }
        function SetIconsgetIcons() {
        let slot1 = document.getElementById("Slot1");
        let slot2 = document.getElementById("Slot2");
        let slot3 = document.getElementById("Slot3");
        let spinStuff = Spin();
        slot1.innerText = selectedIcons[0];
        slot2.innerText = selectedIcons[1];
        slot3.innerText = selectedIcons[2];

        if (!isStartUp) {
          if (selectedIcons[0] == selectedIcons[0] == selectedIcons[0]) {
            const request = new XMLHttpRequest();
            var theUrl = "/addBal";
            var money = 500
            request.open("POST", theUrl);
            request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            request.send(JSON.stringify({"money": money}));
            request.onload = ()=> {
            };
          }
          else {
            const request = new XMLHttpRequest(); 
            var theUrl = "/remBal";
            var money = 50;
            request.open("POST", theUrl);
            request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
            request.send(JSON.stringify({"money": money}));
            request.onload = ()=> {
            };
          }
        }
        else {
          isStartUp = !isStartUp;
        }

        }

        SetIconsgetIcons();
